li{
  list-style: none;

}

li:nth-child(even){
  background-color: lightgrey;
  margin: 0px;
}
p{
  margin: 0px;
  font-size: 18px;
}

ul{
  border: 2px solid black;
}

.chat-form{
  width: 50%;
  margin: 0 auto;
  /*background-color: lightblue;*/
}

.chatroom{
  border: 5px darkblue solid;
  width: 50%;
  margin: 10% auto;
  border-radius: 20px;
}
